@media only screen and (max-width : 2500px) {
	.page-wrapper{
		overflow:hidden;
	}
	
}
@media only screen and (max-width : 992px) {
	.atf-footer-social-icon a i{
		margin-bottom:12px;
	}
	.atf-sm-img{
		display:none;
	}
}
@media only screen and (max-width : 991px) {
	#atf-booking-area{
		margin:50px 0;
		top:-0px;
	}
	.navbar-navs.navbar-expend .menu-nav, .navbar-navs.navbar-collaps .menu-nav {
		margin-left: 20px;
	}
	.atf-choose-img {
		margin-bottom:40px;
	}
	.atf-contact-border h3{
		margin-top:40px;
	}
	.atf-service-plane{
		top:35px;
	}
	.atf-home2-slide .atf-single-text h1{
		font-size:45px;
	}
	.atf-single-services{
		margin:15px 0;
	}
	.atf-counter{
		margin-bottom:30px;
	}
	.atf-blog-area .atf-single-blog{
		margin-bottom:30px;
	}
	.atf-border-right{
		border-right:none;
	}
	.atf-footer-area .atf-footer-link{
		margin-bottom:30px;
	}
	.atf-book-now .atf-bn-title {
		text-align: center;
		-webkit-box-shadow: none;
		box-shadow: none;
		position: relative;
	}
	.atf-book-now .atf-bn-title:after {
		content: '';
		width: 100px;
		height: 3px;
		background: var(--thm-white);
		position: absolute;
		bottom: 5px;
		left: 50%;
		margin-left: -50px;
	}
	.atf-book-now .atf-bn-forms .col-md-6 {
		margin-bottom: 30px;
	}
	.atf-book-now .atf-bn-forms .col-lg-3, .atf-book-now .atf-bn-forms .col-md-6, .atf-book-now .atf-bn-forms .col-6 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.atf-book-now .atf-bn-forms > form > .row:first-child .row {
		margin-right: -15px;
		margin-left: -15px;
		margin-bottom: 30px;
	}
	
}


@media only screen and (max-width: 767px) {
	.navbar-navs.navbar-expend .menu-nav, .navbar-navs.navbar-collaps .menu-nav {
		margin-left: 0px;
	}
	.navbar-nav .menu-nav a:hover::after, .navbar-nav .menu-nav a:hover::before, .navbar-nav .menu-nav a.active::before, .navbar-nav .menu-nav a.active::after{
		display:none;
	}
	.atf-single-text h1{
		font-size:45px;
	}
	.atf-home2-slide .atf-single-text h1{
		font-size:35px;
	}
	.navbar-toggler{
		margin-top:-5px;
	}
	.atf-section-title h2{
		font-size:30px;
	}
	.atf-section-title p {
		width: 100%;
	}
	.form-message{
		padding-bottom:30px;
	}
	.atf-choose-text p{
		margin-left:45px;
	}

}

@media only screen and (max-width: 576px) {
	.navbar-toggler{
		margin-top:-5px;
	}
	.atf-home2-slide .atf-single-text h1{
		font-size:25px;
	}
	.atf-single-text h1{
		font-size:35px;
	}
	.atf-section-title h2{
		font-size:22px;
	}
	.atf-service-plane{
		top:0;
	}
	.atf-contact-border{
		padding:15px;
	}
	.atf-choose-text p{
		margin-left:45px;
	}
	.atf-shape-one{
		display:none;
	}
	.atf-shape-two{
		display:none;
	}

}


@media screen and (max-width: 320px) and (min-width: 0px){
	.navbar-toggler{
		margin-top:-5px;
	}
	.atf-home2-slide .atf-single-text h1{
		font-size:20px;
	}
	.atf-single-text h1{
		font-size:28px;
	}
	.atf-section-title h2{
		font-size:18px;
	}
	#home .atf-themes-btn{
		margin-bottom:15px;
	}
	.atf-service-plane{
		top:0;
	}
	.atf-contact-border{
		padding:10px;
	}
	.atf-testimonial-item{
		margin:0;
	}
	
}